.logo {
  color: #00674f;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  margin-left: 335px;
}

.list {
  list-style: none;
  display: flex;
}

.item {
  margin-right: 50px;
}

.link {
  color: var(--main-typography, #2c2727);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
